<div class="container">
    <div class="card" style="width: 50%">
        <h5 class="card-header">Home Details</h5>
        <img [src]="home.photo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{home.id}}</h5>
          <p class="card-text">Name: {{home.name}}</p>
          <p class="card-text">Sate: {{home.state}}</p>
          <p class="card-text">Availale Units: {{home.availableUnits}}</p>
          <p class="card-text">wifi: {{home.wifi}}</p>
          <p class="card-text">Laundry: {{home.laundry}}</p>



          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</div>
