<div class="container">
    <div class="row">

        <div class="col mt-5">
            <section>
                <input [(ngModel)]= "searchInput"  style="margin-left: 15px;"  type="text" name="searchInput" class="form-control" placeholder=" enter your search here">
            </section>
        </div>

        <div class="col mt-5">
            <button class="btn btn-success"  style="margin-left: 150px;" type="button" (click)="gotToAddHome()">Add Home</button>
        </div>

        <div *ngFor="let home of homes">
                
                    <div class="card" style="width: 18rem;">
                        <img [src]="home.photo" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{home.name}}</h5>
                        <p class="card-text">{{home.city}}</p>
                        
                        <button class="btn btn-warning" (click)="goToViewDetails(home.id)">View Details</button>

                        </div>
                    </div>

        </div>

    </div>
</div>
